ipykernel
pandas
numpy
scikit-learn
seaborn
matplotlib
sqlalchemy
psycopg2-binary
psycopg2
openpyxl
pymupdf
langchain-core
langchain-community
pypdf
python-dotenv
langchain
langchain-community
langchain-huggingface
faiss-cpu
sentence-transformers
transformers
accelerate
torch
huggingface_hub
resume.extractor
langchain-huggingface
streamlit
groq
langchain-groq
